body {
  font-family: Arial;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
}

.item {
  align-self: center;
  width: 100%;
}

table {
  border-spacing: 0;
  border: 1px solid #ededed;
  width: 100%;
}
table tr:last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
}
table th:last-child,
table td:last-child {
  border-right: 0;
}
table tr:nth-child(even) {
  background-color: #fafafa;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table th.sort-asc::before {
  border-bottom: 5px solid #22543d;
}
table th.sort-desc::before {
  border-top: 5px solid #22543d;
}

.good {
  background-color: #55a84f;
}
.satisfactory {
  background-color: #a3c853;
}
.moderate {
  background-color: #fff833;
}
.poor {
  background-color: #f29c33;
}
.verypoor {
  background-color: #e93f33;
}
.severe {
  background-color: #af2d24;
}

.citySelectCntrl {
  width: 100%;
}

.control-section {
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.primaryBtn {
  background-color: #3f51b5;
  color: white;
  padding: 10px 15px;
  border: 0;
  line-height: 1;
  border-radius: 3px;
  margin-left: 10px;
}

.dot {
  color: white;
  padding: 8px;
}
